<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="bg-dark text-light">
<section>
    <div class = "container">
        <h2 class="text-danger">Регистрация</h2>
        <form th:action="@{/register}" class="mb-3" th:object="${user}" method="post">
            <div class="mb-1">
                <label class="form-label" for="firstname">Ваше имя:</label>
                <input type="text" th:field="*{firstName}" id="firstname" class="form-control bg-dark text-light" maxlength="50" required > <br>
            </div>
            <div class="mb-1">
                <label class="form-label" for="lastname">Ваша фамилия</label>
                <input type="text" th:field="*{lastName}" id="lastname" class="form-control bg-dark text-light"  maxlength="50 "required> <br>
            </div>
            <div class="mb-1">
                <label class="form-label" for="username">Логин:</label>
                <input type="text" th:field="*{username}" id="username" placeholder="Придумайте логин" class="form-control bg-dark text-light" maxlength="16" required > <br>
            </div>
            <div class="mb-1">
                <label class="form-label" for="password">Пароль:</label>
                <input type="password" th:field="*{password}" id="password" placeholder="Придумайте пароль" class="form-control bg-dark text-light" required maxlength="8"> <br>
            </div>
            <button type="submit" class="btn btn-outline-danger">Создать аккаунт</button>
        </form>
        <a class="btn btn-outline-danger" th:href="@{/login}">Уже есть аккаунт?</a>
    </div>
</section>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</body>
</html>