<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование задачи</title>
</head>
<body>
<h1>Редактирование задачи</h1>
<form th:action="@{'/redactor/' + ${task.id}}" th:object="${task}" method="post">
    <label for="title">Название:</label>
    <input type="text" id="title" th:field="*{title}" required>
    <br>
    <label for="description">Описание:</label>
    <textarea id="description" th:field="*{description}" required></textarea>
    <br>
    <label for="dueDate">Срок задачи:</label>
    <input type="date" id="dueDate" th:field="*{dueDate}" required>
    <br>
    <button type="submit">Сохранить</button>
</form>
</body>
</html>
